In [1]:
%%capture
import sys
sys.path.append("..")
from squaresEnumerator import Squares
s = Squares()
inputs = []
const, aggrs, attrs, loc = "", "", "", 0

Inputs:

- Parts

|Id|Part Name (pname)| 
|---|---|    
| 1 | Tire |    
| 2 | Suspension |

- Supplier 

|Id|Supplier Name (sname)|
|---|---|
|1|Michelin|

In [2]:
input0 = "id,pname\n1,Tire\n2,Suspension"
inputs.append(input0)

input1 = "id,sname\n1,Michelin"
inputs.append(input1)

Here the user specifies the output table, using a string and "\n" represents the end of a line.
E.g.

- Output

|Part Name (pname)| 
|---|    
|Tire |

In [3]:
output="pname\nTire"

[Optional] Constants. Constants can either be integers or strings. 
- E.g. consts = "Tire,1"

In [4]:
consts=""

[Optional] Aggregators. The user can specify several SQL/R aggregators that will be used by desired query.
Aggregators available: 

| Choices | SQL Operator |
|--|--|
| max| MAX|
| min | MIN|
| mean | AVG|
| sum | SUM|
| like | LIKE|
| concat/concat_grouped | Concat|
| n | COUNT( ) |
| max(n) | to filter using the maximum number calculated using COUNT( )|

For example to count the number of pnames the user should provide aggrs = "n".

In [5]:
aggrs=""

[Optional] Here the user can insert certain attributes from the previous tables, that the query uses.
- E.g. attrs="pname, sname".

In [6]:
attrs=""

[Optional] Number of operators. Number of SQL/R operators expected in the query.

In [7]:
loc=2

Calling the method synthesize, SQUARES returns the query both in R and SQL.

In [8]:
R_Query, SQL_Query = s.synthesize(inputs,output,consts,aggrs,attrs,loc)

- Now the SQL query is presented:

In [9]:
print(SQL_Query)

SELECT `pname`
FROM
  (SELECT `id`,
          `pname`,
          `sname`
   FROM `input0` AS `LHS`
   INNER JOIN `input1` AS `RHS` ON (`LHS`.`id` = `RHS`.`id`))





- Now, the R query is presented:

In [10]:
print(R_Query)

RET_DF14 <- inner_join(input0, input1)
RET_DF15 <- RET_DF14 %>% ungroup() %>% select(pname)