In [1]:
%%capture
import sys
sys.path.append("..")
from squaresEnumerator import Squares
s = Squares()
inputs = []
const, aggrs, attrs, loc = "", "", "", 0

Inputs:

In [2]:
input0 = "C_name,F_key\nclass1,f1\nclass2,f2\nclass3,f1\nclass4,f3\nclass5,f4"
inputs.append(input0)

input1 = "S_key,C_name\nS1,class1\nS2,class1\nS3,class2\nS3,class5\nS4,class2\nS4,class4\nS5,class3\nS6,class3\nS6,class2\nS7,class5\nS8,class4"
inputs.append(input1)

input2 = "F_key,F_name\nf1,faculty1\nf2,faculty2\nf3,faculty3\nf4,faculty4"
inputs.append(input2)

input3 = "S_key,S_name,level\nS1,stu1,JR\nS2,stu2,SR\nS3,stu3,JR\nS4,stu4,SR\nS5,stu5,JR\nS6,stu6,SR\nS7,stu7,JR\nS8,stu8,JR"
inputs.append(input3)

Here the user specifies the output table, using a string and "\n" represents the end of a line.
The following table is:

In [3]:
output="S_name\nstu1\nstu5"

[Optional] Constants.  Constants can either be integers or strings. 
- E.g. consts = "class2,f1"

In [4]:
consts="faculty1, JR"

[Optional] Aggregators. The user can specify several SQL/R aggregators that will be used by desired query.
Aggregators available: 

| Choices | SQL Operator |
|--|--|
| max| MAX|
| min | MIN|
| mean | AVG|
| sum | SUM|
| like | LIKE|
| concat/concat_grouped | Concat|
| n | COUNT( ) |
| max(n) | to filter using the maximum number calculated using COUNT( )|

For example to count the number of classes taught by some faculty the user should provide aggrs = "n".

In [5]:
aggrs=str()

[Optional] Here the user can insert certain attributes from the previous tables, that the query uses.
- E.g. attrs="level, F_name".

In [6]:
attrs="level, F_name"

[Optional] Number of operators. Number of SQL/R operators expected in the query.

In [7]:
loc=3

Calling the method synthesize, SQUARES returns the query both in R and SQL.

In [8]:
R_Query, SQL_Query = s.synthesize(inputs,output,consts,aggrs,attrs,loc)

- Now the SQL query is presented:

In [9]:
print(SQL_Query)

SELECT `S_name`
FROM
  (SELECT `C_name`,
          `F_key`,
          `S_key`,
          `F_name`,
          `S_name`,
          `level`
   FROM
     (SELECT `C_name`,
             `F_key`,
             `S_key`,
             `F_name`
      FROM
        (SELECT `C_name`,
                `F_key`,
                `S_key`
         FROM `input0` AS `LHS`
         INNER JOIN `input1` AS `RHS` ON (`LHS`.`C_name` = `RHS`.`C_name`)) AS `LHS`
      INNER JOIN `input2` AS `RHS` ON (`LHS`.`F_key` = `RHS`.`F_key`)) AS `LHS`
   INNER JOIN `input3` AS `RHS` ON (`LHS`.`S_key` = `RHS`.`S_key`))
WHERE (`F_name` = 'faculty1'
       AND `level` = 'JR')





- Now, the R query is presented:

In [10]:
print(R_Query)

RET_DF15 <- inner_join(inner_join(inner_join(input0, input1), input2), input3)
RET_DF16 <- RET_DF15 %>% ungroup() %>% filter(F_name == "faculty1" & level == "JR")
RET_DF17 <- RET_DF16 %>% ungroup() %>% select(S_name)